<div class="relative w-full xl:w-[55%] animation-fade-left order-1 xl:order-2">
  <div id="spinner" class="absolute inset-0 z-10 flex items-center justify-center bg-white">
    <!-- Spinner CSS puro más eficiente -->
    <div class="w-8 h-8 border-4 border-gray-200 border-t-gray-500 rounded-full animate-spin"></div>
  </div>
  <div class="w-full flex flex-col justify-center items-start">
    <iframe
      src="https://link.inkshapecrm.com/widget/form/vrG9LkaYefnENaGewRDG"
      class="w-full h-full border-none relative z-40"
      id="inline-vrG9LkaYefnENaGewRDG"
      data-layout="{'id':'INLINE'}"
      data-trigger-type="alwaysShow"
      data-trigger-value=""
      data-activation-type="alwaysActivated"
      data-activation-value=""
      data-deactivation-type="neverDeactivate"
      data-deactivation-value=""
      data-form-name="Form General Website"
      data-height="600"
      data-layout-iframe-id="inline-vrG9LkaYefnENaGewRDG"
      data-form-id="vrG9LkaYefnENaGewRDG"
      title="Form General Website"
      onload="document.getElementById('spinner').style.display='none'"
      sandbox="allow-forms allow-scripts allow-popups allow-same-origin"
      loading="eager"
    >
    </iframe>
    <script src="https://link.inkshapecrm.com/js/form_embed.js" defer></script>
  </div>
  
</div>
