<section class="w-full bg-white flex justify-center items-center py-6.5">
  <div class="container-full flex justify-end items-end relative h-full" style="aspect-ratio: 250/153;">
    
    <img src="/images/map.webp" alt="Mapa De Advance" class="absolute w-full h-full inset-0 object-cover object-center z-0" width="1384" height="847" decoding="async" loading="lazy" />
    
    <div data-city="greenville" class="map-pin flex flex-col justify-center items-center gap-3 absolute z-10 left-[22%] bottom-[38%] cursor-pointer group"> 
      <div class="pin-tooltip flex justify-center items-center px-2.5 py-1.5 bg-[#0F0F14E0] rounded-lg relative transition-opacity duration-300 opacity-100">
        <p class="text-[11px] text-white font-medium leading-[100%]">Greenville, NC, USA</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="6" viewBox="0 0 12 6" fill="none" class="absolute -bottom-1.5 right-1/2 translate-x-1/2">
          <path d="M0 0L6 6L12 0H0Z" fill="#0F0F14" fill-opacity="0.88"/>
        </svg>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" width="27" height="41" viewBox="0 0 27 41" fill="none">
        <path opacity="0.04" d="M13.5 40.0469C19.299 40.0469 24 37.6964 24 34.7969C24 31.8974 19.299 29.5469 13.5 29.5469C7.70101 29.5469 3 31.8974 3 34.7969C3 37.6964 7.70101 40.0469 13.5 40.0469Z" fill="black"/>
        <path opacity="0.04" d="M13.5 40.0469C19.299 40.0469 24 37.6964 24 34.7969C24 31.8974 19.299 29.5469 13.5 29.5469C7.70101 29.5469 3 31.8974 3 34.7969C3 37.6964 7.70101 40.0469 13.5 40.0469Z" fill="black"/>
        <path opacity="0.04" d="M13.5 39.5689C18.7467 39.5689 23 37.4321 23 34.7962C23 32.1603 18.7467 30.0234 13.5 30.0234C8.25329 30.0234 4 32.1603 4 34.7962C4 37.4321 8.25329 39.5689 13.5 39.5689Z" fill="black"/>
        <path opacity="0.04" d="M13.5 39.091C18.1944 39.091 22 37.1678 22 34.7955C22 32.4232 18.1944 30.5 13.5 30.5C8.80558 30.5 5 32.4232 5 34.7955C5 37.1678 8.80558 39.091 13.5 39.091Z" fill="black"/>
        <path opacity="0.04" d="M13.5 38.613C17.6421 38.613 21 36.9035 21 34.7948C21 32.686 17.6421 30.9766 13.5 30.9766C9.35786 30.9766 6 32.686 6 34.7948C6 36.9035 9.35786 38.613 13.5 38.613Z" fill="black"/>
        <path opacity="0.04" d="M13.5 38.135C17.0899 38.135 20 36.6392 20 34.7941C20 32.9489 17.0899 31.4531 13.5 31.4531C9.91015 31.4531 7 32.9489 7 34.7941C7 36.6392 9.91015 38.135 13.5 38.135Z" fill="black"/>
        <path opacity="0.04" d="M13.5 37.657C16.5376 37.657 19 36.3749 19 34.7934C19 33.2118 16.5376 31.9297 13.5 31.9297C10.4624 31.9297 8 33.2118 8 34.7934C8 36.3749 10.4624 37.657 13.5 37.657Z" fill="black"/>
        <path opacity="0.04" d="M13.5 37.1868C15.9853 37.1868 18 36.1184 18 34.8004C18 33.4825 15.9853 32.4141 13.5 32.4141C11.0147 32.4141 9 33.4825 9 34.8004C9 36.1184 11.0147 37.1868 13.5 37.1868Z" fill="black"/>
        <path class="pin-base-path transition-colors duration-300" d="M27 13.5C27 19.0746 20.25 27 14.75 34.5C14.0167 35.5 12.9833 35.5 12.25 34.5C6.75 27 0 19.2226 0 13.5C0 6.04416 6.04416 0 13.5 0C20.9558 0 27 6.04416 27 13.5Z" fill="#ED1846"/>
        <g opacity="0.25">
          <path d="M13.5 0C6.04416 0 0 6.04416 0 13.5C0 19.2226 6.75 27 12.25 34.5C13 35.5227 14.0167 35.5 14.75 34.5C20.25 27 27 19.0746 27 13.5C27 6.04416 20.9558 0 13.5 0ZM13.5 1C20.4154 1 26 6.5846 26 13.5C26 15.8987 24.4956 19.1814 22.2207 22.7383C19.9458 26.2951 16.7051 30.1422 13.9434 33.9082C13.7434 34.1808 13.6127 34.3227 13.5 34.4414C13.3873 34.3227 13.2566 34.1808 13.0566 33.9082C10.2845 30.128 7.41487 26.3142 5.01562 22.7734C2.61638 19.2327 1 15.9535 1 13.5C1 6.5846 6.5846 1 13.5 1Z" fill="black"/>
        </g>
        <path opacity="0.25" d="M13.5 19C16.5376 19 19 16.5376 19 13.5C19 10.4624 16.5376 8 13.5 8C10.4624 8 8 10.4624 8 13.5C8 16.5376 10.4624 19 13.5 19Z" fill="black"/>
        <path d="M13.5 19C16.5376 19 19 16.5376 19 13.5C19 10.4624 16.5376 8 13.5 8C10.4624 8 8 10.4624 8 13.5C8 16.5376 10.4624 19 13.5 19Z" fill="white"/>
      </svg>
    </div>

    <div data-city="charlotte" class="map-pin flex flex-col justify-center items-center gap-3 absolute z-10 right-[33%] top-[35%] cursor-pointer group"> 
      <div class="pin-tooltip flex justify-center items-center px-2.5 py-1.5 bg-[#0F0F14E0] rounded-lg relative transition-opacity duration-300 opacity-40 group-hover:opacity-100">
        <p class="text-[11px] text-white font-medium leading-[100%]">Charlotte, NC, USA</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="6" viewBox="0 0 12 6" fill="none" class="absolute -bottom-1.5 right-1/2 translate-x-1/2">
          <path d="M0 0L6 6L12 0H0Z" fill="#0F0F14" fill-opacity="0.88"/>
        </svg>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" width="27" height="41" viewBox="0 0 27 41" fill="none">
        <path opacity="0.04" d="M13.5 40.0469C19.299 40.0469 24 37.6964 24 34.7969C24 31.8974 19.299 29.5469 13.5 29.5469C7.70101 29.5469 3 31.8974 3 34.7969C3 37.6964 7.70101 40.0469 13.5 40.0469Z" fill="black"/>
        <path opacity="0.04" d="M13.5 40.0469C19.299 40.0469 24 37.6964 24 34.7969C24 31.8974 19.299 29.5469 13.5 29.5469C7.70101 29.5469 3 31.8974 3 34.7969C3 37.6964 7.70101 40.0469 13.5 40.0469Z" fill="black"/>
        <path opacity="0.04" d="M13.5 39.5689C18.7467 39.5689 23 37.4321 23 34.7962C23 32.1603 18.7467 30.0234 13.5 30.0234C8.25329 30.0234 4 32.1603 4 34.7962C4 37.4321 8.25329 39.5689 13.5 39.5689Z" fill="black"/>
        <path opacity="0.04" d="M13.5 39.091C18.1944 39.091 22 37.1678 22 34.7955C22 32.4232 18.1944 30.5 13.5 30.5C8.80558 30.5 5 32.4232 5 34.7955C5 37.1678 8.80558 39.091 13.5 39.091Z" fill="black"/>
        <path opacity="0.04" d="M13.5 38.613C17.6421 38.613 21 36.9035 21 34.7948C21 32.686 17.6421 30.9766 13.5 30.9766C9.35786 30.9766 6 32.686 6 34.7948C6 36.9035 9.35786 38.613 13.5 38.613Z" fill="black"/>
        <path opacity="0.04" d="M13.5 38.135C17.0899 38.135 20 36.6392 20 34.7941C20 32.9489 17.0899 31.4531 13.5 31.4531C9.91015 31.4531 7 32.9489 7 34.7941C7 36.6392 9.91015 38.135 13.5 38.135Z" fill="black"/>
        <path opacity="0.04" d="M13.5 37.657C16.5376 37.657 19 36.3749 19 34.7934C19 33.2118 16.5376 31.9297 13.5 31.9297C10.4624 31.9297 8 33.2118 8 34.7934C8 36.3749 10.4624 37.657 13.5 37.657Z" fill="black"/>
        <path opacity="0.04" d="M13.5 37.1868C15.9853 37.1868 18 36.1184 18 34.8004C18 33.4825 15.9853 32.4141 13.5 32.4141C11.0147 32.4141 9 33.4825 9 34.8004C9 36.1184 11.0147 37.1868 13.5 37.1868Z" fill="black"/>
        <path class="pin-base-path transition-colors duration-300" d="M27 13.5C27 19.0746 20.25 27 14.75 34.5C14.0167 35.5 12.9833 35.5 12.25 34.5C6.75 27 0 19.2226 0 13.5C0 6.04416 6.04416 0 13.5 0C20.9558 0 27 6.04416 27 13.5Z" fill="#707070"/>
        <g opacity="0.25">
          <path d="M13.5 0C6.04416 0 0 6.04416 0 13.5C0 19.2226 6.75 27 12.25 34.5C13 35.5227 14.0167 35.5 14.75 34.5C20.25 27 27 19.0746 27 13.5C27 6.04416 20.9558 0 13.5 0ZM13.5 1C20.4154 1 26 6.5846 26 13.5C26 15.8987 24.4956 19.1814 22.2207 22.7383C19.9458 26.2951 16.7051 30.1422 13.9434 33.9082C13.7434 34.1808 13.6127 34.3227 13.5 34.4414C13.3873 34.3227 13.2566 34.1808 13.0566 33.9082C10.2845 30.128 7.41487 26.3142 5.01562 22.7734C2.61638 19.2327 1 15.9535 1 13.5C1 6.5846 6.5846 1 13.5 1Z" fill="black"/>
        </g>
        <path opacity="0.25" d="M13.5 19C16.5376 19 19 16.5376 19 13.5C19 10.4624 16.5376 8 13.5 8C10.4624 8 8 10.4624 8 13.5C8 16.5376 10.4624 19 13.5 19Z" fill="black"/>
        <path d="M13.5 19C16.5376 19 19 16.5376 19 13.5C19 10.4624 16.5376 8 13.5 8C10.4624 8 8 10.4624 8 13.5C8 16.5376 10.4624 19 13.5 19Z" fill="white"/>
      </svg>
    </div>

    <div class="z-10 min-w-[420px] transition-all duration-300 pr-6 pb-6">
      
      <div data-card="greenville" class="city-card flex justify-center items-center bg-white p-4 border border-black/20 gap-7 shadow-lg transition-opacity duration-300 opacity-100">
        <div class="w-[237px] h-auto relative" style="aspect-ratio: 237/143;">
          <img src="/images/greenville.webp" alt="Greenville" class="absolute w-full h-full inset-0 object-center object-cover" width="600" height="450">
        </div>
        <div class="flex flex-col justify-center items-start text-paragraph">
          <h3 class="text-[17px] font-paragraph font-extrabold leading-[150%]">Greenville</h3>
          <p class="paragraph">Carolina del Norte, USA</p>
        </div>
      </div>

      <div data-card="charlotte" class="city-card hidden justify-center items-center bg-white p-4 border border-black/20 gap-7 shadow-lg transition-opacity duration-300 opacity-0">
        <div class="w-[237px] h-auto relative" style="aspect-ratio: 237/143;">
          <img src="/images/charlotte.webp" alt="Charlotte" class="absolute w-full h-full inset-0 object-center object-cover" width="600" height="450">
        </div>
        <div class="flex flex-col justify-center items-start text-paragraph">
          <h3 class="text-[17px] font-paragraph font-extrabold leading-[150%]">Charlotte</h3>
          <p class="paragraph">Carolina del Norte, USA</p> </div>
      </div>

    </div>
  </div>
</section>

<script is:inline>
  // Ejecuta el script de forma segura en el cliente
  const pins = document.querySelectorAll('.map-pin');
  const cards = document.querySelectorAll('.city-card');

  // Definición de los colores de estado
  const COLOR_ACTIVE = '#ED1846';
  const COLOR_INACTIVE = '#707070';

  const updateActiveLocation = (selectedCity) => {
    // 1. Actualizar estado de los Pines y sus SVGs
    pins.forEach(pin => {
      const city = pin.getAttribute('data-city');
      const basePath = pin.querySelector('.pin-base-path');
      const tooltip = pin.querySelector('.pin-tooltip');

      if (city === selectedCity) {
        // Activar Pin
        basePath?.setAttribute('fill', COLOR_ACTIVE);
        tooltip?.classList.remove('opacity-40');
        tooltip?.classList.add('opacity-100');
      } else {
        // Desactivar Pin
        basePath?.setAttribute('fill', COLOR_INACTIVE);
        tooltip?.classList.remove('opacity-100');
        tooltip?.classList.add('opacity-40');
      }
    });

    // 2. Actualizar visibilidad de las Tarjetas Informativas
    cards.forEach(card => {
      const cardCity = card.getAttribute('data-card');

      if (cardCity === selectedCity) {
        // Mostrar tarjeta correspondiente
        card.classList.remove('hidden');
        card.classList.add('flex');
        // Pequeño delay para que la transición de opacidad se aprecie fluida
        setTimeout(() => {
          card.classList.remove('opacity-0');
          card.classList.add('opacity-100');
        }, 10);
      } else {
        // Ocultar las demás tarjetas
        card.classList.remove('opacity-100', 'flex');
        card.classList.add('opacity-0', 'hidden');
      }
    });
  };

  // Asignar los triggers tanto para Hover (Desktop) como para Click (Mobile/Desktop)
  pins.forEach(pin => {
    const city = pin.getAttribute('data-city');
    if (!city) return;

    // Trigger de Hover
    pin.addEventListener('mouseenter', () => updateActiveLocation(city));
    
    // Trigger de Click
    pin.addEventListener('click', () => updateActiveLocation(city));
  });
</script>