---
import ContentExamples from './ContentExamples.astro';

type Translations = typeof import('../i18n/en').default;
type ExamplesContent = Translations['services']['pool-construction']['examples'];
interface Props {
  content: ExamplesContent;
}
const { content } = Astro.props as Props;
---
<section class="w-full bg-white flex justify-center items-center py-20">
  <ContentExamples content={content}/>
</section>