---
import InfoContent from './InfoContent.astro';

type Translations = typeof import('../i18n/en').default;
type InfoContent = Translations['services']['pool-construction']['info'];
interface Props {
  content: InfoContent;
}
const { content } = Astro.props as Props;
---
<section class="w-full flex flex-col bg-white pt-20">
  <InfoContent content={content}/>
</section>