---
interface Props {
  text: string
}
const { text } = Astro.props as Props
---
<section class="w-full bg-white flex justify-center items-center overflow-hidden py-8">
  <p class="decoration whitespace-nowrap" data-scroll-text>{text}</p>
</section>

<script>
import { initScrollText } from "../utils/scrollText";

  initScrollText();
</script>